:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.outlet {
  flex-grow: 1;
  background-color: #fafafa;
}

footer {
  height: 40px;
  background-color: #181b20;
  display: flex;
  align-items: center;

  div {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 1.33;
    color: #9b9b9b;
    padding-left: 30px;
  }
}
