nav.navbar {
  padding: 0px;
  background-color: #1f2229;

  a.logo {
    display: flex;
    margin-left: 16px;
  }

  div.collapse.navbar-collapse {
    box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, 0.05);

    ul.navbar-nav.mr-auto {
      li.nav-item {
        padding: 0 15px;
        box-shadow: inset -1px 0 0 0 rgba(255, 255, 255, 0.05);
        border-top: 2px solid #138090;

        a.nav-link {
          display: flex;
          align-items: center;

          &:hover {
            .fill {
              fill: rgba(255, 255, 255, .75);
            }
          }

          svg {
            margin-top: 3px;
            margin-right: 5px;

          }
        }
      }

      li.nav-item.active {
        border-top: 2px solid #a8c138;

        a.nav-link {
          color: #a8c138;

          .fill {
            fill: #a8c138;
          }
        }
      }
    }

    ul.navbar-nav.right {
      li.nav-item {
        box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, 0.05), inset -1px 0 0 0 #000000;

        a.notification {
          margin: 3px 12px 0;
          display: flex;
          align-items: center;

          &:hover {
            .fill {
              fill: rgba(255, 255, 255, .75);
            }
          }
        }

        a.user {
          margin: 0 7px;
        }
      }
    }

    li.nav-item {
      height: 50px;
      display: flex;
      align-items: center;
    }
  }
}
